@media screen and (min-width: 1024px) {
  .main-asset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 66vh;
    margin: 0;
  }

  .top-three {
    width: 40%;
  }
}
